@use '../abstracts/' as *;

body {
    color: $clr-light;
    background: linear-gradient(60deg, $clr-dark, $clr-dark-light, $clr-dark);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

a {
    color: inherit;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.container {
    position: relative;
    margin: auto;
    padding: 1.75em 2.5em;
    border-radius: 1.5rem;
    color: $clr-dark;
    background: $clr-light;

    @media screen and (max-width: $sm-breakpoint) {
        width: 93% !important;
    }

    &.fit {
        width: max-content;
    }

    & > .close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 1rem;
        border-radius: 50%;
        transform: rotate(45deg);
        cursor: pointer;
        transition: background 100ms ease;

        &:hover {
            background: rgba($clr-dark, .15);
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1.75rem;
            height: .15rem;
            background: $clr-dark;
            transition: height 50ms ease-in-out;
        }
    
        &:after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.underline {
    position: relative;
    display: inline-block;
    z-index: 0;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: .15em;
        left: 0;
        height: .35em;
        background: $clr-pri;
        z-index: -1;
    }
}

.warning-sign {
    position: relative;
    width: 0;
    height: 0;
    margin: 0 auto 2rem auto;
    border-top: none;
    border-left: 3.25rem solid transparent;
    border-bottom: 6rem solid $clr-dark;
    border-right: 3.25rem solid transparent;

    &:after {
        content: '!';
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        color: $clr-light;
        font-size: 3.35rem;
    }
}

.outer {
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 30;
    overflow-y: scroll;
    background: rgba($clr-dark, .75);
    transition: all 300ms ease-in;

    &.show {
        display: flex;
        opacity: 1;
    }
}

.centered {
    display: none;
    opacity: 0;
    transition: all 250ms 100ms ease-in;

    @media screen and (max-width: $sm-breakpoint) {
        width: 90%;
    }

    &.show {
        display: block;
        opacity: 1;
    }
}

.no-content-msg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2.5em;
	margin: 5em 0 0 0;
}