@use '../abstracts/' as *;

#auth-container {
	margin-top: 5vh;
	width: 30rem;

	& > :first-child {
		margin: .5em 0 1.5em 0;
		text-align: center;
	}

	a {
		color: $clr-pri;
	}

}

.submit-container {
	display: flex;
	justify-content: center;
	margin: 1.5em 0;
}