@use '../abstracts/' as *;

$product-height: 15rem;
$product-width: 20.5rem;
$image-height: 11.5rem;

#inventory {
	display: flex;
	justify-content: center;
}

#search-filter-btn {
	display: none;
	margin: 1rem 0;
	padding-right: 3em;
	width: fit-content;

	& > img {
		position: absolute;
		padding: 0 .5em;
	}
}

#search-filter {
	width: 25rem;
	margin: 0 1.5rem 0 0;
	transition:
		opacity 150ms ease-in-out,
		transform 550ms 50ms ease-in;
	
	& > .toggle-search-filter {
		display: none;
	}
}

#products {
	display: grid;
	grid-template-columns: repeat(3, $product-width);
	grid-auto-rows : max-content; // make rows fit products height
	grid-gap: 1.5rem;

	.product {
		position: relative;
		height: $product-height;
		border-radius: .5rem;
		color: $clr-dark;
		background: $clr-light;
		overflow: hidden;
		transition: box-shadow 150ms ease;
		cursor: pointer;

		&:hover {
			box-shadow: 0 0 .65rem 0 rgba($clr-light, .5);
		}

		& > .product__text {
			height: $product-height - $image-height;
			padding: 1.25em 1em;
		}

		& > .product__image-container {
			height: $image-height;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;

			& > .product__image {
				width: 100%;
				height: 100%;
			}
		}

		& .edit-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			right: .15rem;
			bottom: .15rem;
			padding: .65rem;
			border-radius: 50%;
			background: $clr-pri;
			transition: transform 250ms ease-in-out;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

#product-container {
	width: 45rem;

	& .product__images {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 25rem;
		margin: 0 0 1rem 0;
		
		& img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}

	}

	& .description {
		margin: .75rem 0;
	}

	& .info-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.25rem;
		margin: 0 0 1rem 0;
	}
}

@media screen and (max-width: $xxl-breakpoint) {
	#inventory {
		flex-direction: column;
		width: fit-content;
		margin: auto;
	}

	#search-filter-btn {
		display: block;
	}

	#search-filter {
		position: absolute;
		top: 10vh;
		left: 50%;
		transform: translate(-50%, 100vh);
		transform-origin: bottom;
		width: 30rem;
		opacity: 0;
		z-index: 5;
		pointer-events: none;

		&.show {
			transform: translate(-50%, 0%);
			opacity: 1;
			pointer-events: all;
		}

		& > .toggle-search-filter {
			display: block;
		}
	}
}

@media screen and (max-width: $xl-breakpoint) {
	#products {
		grid-template-columns: repeat(2, $product-width);
	}
}

@media screen and (max-width: $md-breakpoint) {
	#products {
		grid-template-columns: $product-width;
	}
}

@media screen and (max-width: $sm-breakpoint) {
	#search-filter {
		width: 90%;
	}
}