@use '../abstracts/' as *;

#product-form-container {
	width: 80%;

	@media screen and  (max-width: $xl-breakpoint) {
		width: 87%;
	}

	@media screen and (max-width: $md-breakpoint) {
		width: 93%;
	}
}

.grid {
	display: grid;
	grid-column-gap: 1em;
	
	@media screen and (min-width: $xl-breakpoint) {
		&.col-lg-1-1-1 {
			grid-template-columns: repeat(3, 1fr);
			grid-column: auto;
		}
		&.col-lg-2-1 {
			grid-template-columns: 2fr 1fr;
		}
	}
}

#product-form .selects {
	display: grid;
	grid-column-gap: 1em;

	@media screen and (min-width: $md-breakpoint) and (max-width: $xl-breakpoint) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

.price-input {
	position: relative;
	width: max-content;
	height: max-content;

	& > input {
		padding-right: 3em;

		& + span:after {
			content: '\20AC';
			position: absolute;
			top: 50%;
			right: 1.5em;
			transform: translateY(-50%);
			// color: inherit;
		}
	}
}

#product-form {
	textarea {
		height: 100%;
	}
}

#images-input > .label {
	display: flex;
	margin-bottom: 1.5em;

	& > label,
	& > .error__message {
		padding: 0 0 0 1.5em;
	}
}

.images-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: space-evenly;
	
	.image-preview {
		position: relative;
		width: 15rem;
		height: 8.4rem;
		border: 2px dashed $clr-dark;
		border-radius: 1rem;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	
		&:hover,
		&:focus {
			border-width: 3px;
	
			& > .cross {
				transform: translate(-50%, -50%) scale(1.1);

				&:before,
				&:after {
					height: .17rem;
				}
			}
		}
	
		& > .cross {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: transform 50ms ease;
			
			
			&:before,
			&:after {
				content: '';
				position: absolute;
				display: inline-block;
				width: 2.5rem;
				height: .15rem;
				background: $clr-dark;
				transform: translateX(-50%);
				transition: height 50ms ease;
			}
		}

		& > .cross:after {
			transform: translateX(-50%) rotate(90deg);
		}

		& > label {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 0;
			cursor: pointer;
		}
	
		& > img {
			position: absolute;
			width: 100%;
			height: 100%;
			transition: transform 250ms ease;
			z-index: 10;
	
			&:hover,
			&:focus {
				transform: scale(1.1);
			}
		}

		& > .delete-btn {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			background: $clr-pri;
			transition: transform 500ms ease;
			transform: rotate(45deg);
			cursor: pointer;
			z-index: 20;
			opacity: 1;

			&:focus,
			&:hover {
				transform: rotate(225deg);
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: block;
				width: 1rem;
				height: .1rem;
				background: $clr-dark;
			}
			
			&:after {
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}
	}
}