@use '../abstracts/' as *;

.input-group {
	display: flex;
	flex-direction: column;
	margin: 0 0 1.5em 0;

	&.required > label:after {
		content: ' *';
		color: $clr-red;
	}
}

.radio-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .25em;

	& > .radio {
		width: fit-content;
	}
}

input,
select,
textarea {
	padding: .85em 1.5em;
	border: 2px solid $clr-dark;
	border-radius: 2.5rem;
	color: $clr-dark;
	background: $clr-light;
	transition: box-shadow 250ms ease, border 250ms ease;
	
	&:hover {
		box-shadow: 0 0 .15rem 0 $clr-dark;
	}

	&:focus {
		border: 2px solid $clr-dark;
		box-shadow: 0 0 0 .1rem $clr-dark;
	}

	&.error {
		border-color: $clr-red !important;
		box-shadow: 0 0 0 .1rem $clr-red;
		animation: shake 150ms linear 0s 3 alternate none;
		// animation-name: shake;
		// animation-duration: 150ms;
		// animation-timing-function: linear;
		// animation-delay: 250ms;
		// animation-iteration-count: 3;
		// animation-direction: alternate;
		// animation-fill-mode: none;
		transition: transform 100ms linear;

		@keyframes shake {
			from {
				transform: translateX(.5rem);
			}
			to {
				transform: translateX(-.5rem);
			}
		}
	}
}

textarea {
	padding: 1em 1.75em;
	border-radius: 1.5rem;
}

input[type=radio]:checked + label.radio,
input[type=checkbox]:checked + label.radio {
	color: $clr-light;
	background: $clr-dark;
}

select {
	cursor: pointer;
}

.custom-select {
	position: relative;
	
	& > select {
		padding-right: 2.5em;
		width: 100%;
		// hide dropdown arrow:
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	&:after {
		content: '';
		display: inline;
		position: absolute;
		top: 50%;
		right: 1em;
		margin-left: 1em;
		border: .5em solid transparent;
		border-top: .5em solid $clr-dark;
		border-bottom-width: 0;
		transform: translateY(-50%);
		pointer-events: none;
	}
}

.error__message {
	padding: 1em 0 0 1.5em;
	font-size: .85em;
	color: $clr-red;
}

input[type=submit] {
	border: none;
}

label {
	padding: 0 0 .5em 1.5em;
}

label[for=reset] {
	cursor: pointer;
	
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}