@font-face {
    font-family: 'Bebas Neue';
    src: url('../../fonts/BebasNeue-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-Bold.ttf');
    font-weight: 700;
}