// Colors:
$clr-pri: #FD7A33;
$clr-pri-light: #ffac52;
$clr-sec: #005246;
$clr-sec-light: #4C8076;
$clr-dark: #091220;
$clr-dark-light: #35435A;
$clr-light: #F7F7F7;
$clr-red: #820A00;

// Sizes
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1500px;